<!--update.ejs-->
<form action="/boardgame/update/<%= boardgame.id %>" method="POST">

    <div class="form-group">
        <label>Board Game Name</label>
        <input type="text" class="form-control" name="Boardgame[name]" value="<%= boardgame.name %>" required>
    </div>

    <div class="form-group">
        <label>type</label> 
        <input type="text" class="form-control" name="Boardgame[type]" value="<%= boardgame.type %>" required>
    </div>

    <div class="form-group">
        <label>location</label>
        <input type="text" class="form-control" name="Boardgame[location]" value="<%= boardgame.location %>" required>
    </div>

    <div class="form-group">
        <label>remark</label>
        <textarea class="form-control" name="Boardgame[remark]"  ><%= boardgame.remark %></textarea>
    </div>

    <div><label>Upload display photo: </label></div>
    <input type="file" accept="image/*"  onchange="handleFile(this.files)" />
    <div id="preview"></div>
    <br><br>
   
    <button type="submit" class="btn btn-primary">Submit</button>
    
    <script>
        function handleFile(files) {

            const file = files[0];
            if (!file.type.startsWith('image/')) return;

            var preview = document.getElementById('preview');

            var reader = new FileReader();
            reader.onload = function (e) {
                preview.innerHTML = "";

                var img = document.createElement('img');
                img.src = e.target.result;
                img.style = "max-width:33vw";
                preview.appendChild(img);

                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'Boardgame[avatar]';
                input.value = e.target.result;
                preview.appendChild(input);
            }
            reader.readAsDataURL(file);

        }
    </script>
</form>