<div>Board Game name: <%= boardgame.name %></div>
<div>Board Game type: <%= boardgame.type %></div>
<div>Board Game location: <%= boardgame.location %></div>
<div>Board Game remark: <%= boardgame.remark %></div>
<div>Board Game avatar: <%= boardgame.avatar %></div>