<div class="hImg">
    <img class="img-fluid" style="object-fit:contain;height:250px" src= "<%= user.avatar%>" width="400" height="400" />
</div>
<div>Staff Name: <%= user.username %></div>
<div>Staff ID: <%= user.staffID %></div>
<div>Email: <%= user.email %></div>
<div>Telephone Number: <%= user.tel %></div>