<div>Present name: <%= present.name %></div>
<div>Present quantity: <%= present.quantity %></div>
<div>Present size: <%= present.size %></div>
<div>Present price: <%= present.price %></div>
<div>Present donator: <%= present.donator %></div>
<div>Present location: <%= present.location %></div>
<div>Present avatar: <%= present.avatar %></div>