<div>Material name: <%= mat.name %></div>
<div>Material quantity: <%= mat.quantity %></div>
<div>Material shouble be return: <%= mat.returnback %></div>
<div>Material location: <%= mat.location %></div>
<div>Material remark: <%= mat.remark %></div>
<div>Material avatar: <%= mat.avatar %></div>