<div>Book name: <%= book.name %></div>
<div>Book pubyear: <%= book.pubyear %></div>
<div>Book author: <%= book.author %></div>
<div>Book location: <%= book.location %></div>
<div>Book remark: <%= book.remark %></div>
<div>Book avatar: <%= book.avatar %></div>